# For remote turso
DATABASE_URL=libsql://example.turso.io
DATABASE_AUTH_TOKEN=qwer
DATABASE_DIALECT=turso
JWT_SECRET=asd

# For local sqlite
DATABASE_URL=file:sqlite.db
DATABASE_AUTH_TOKEN=qwer
DATABASE_DIALECT=sqlite
JWT_SECRET=asd

